@import '@fontsource/fira-mono';
@import '@fontsource/quicksand/300.css';
@import '@fontsource/quicksand/400.css';



:root {
	--font-body: 'Quicksand', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--color-bg-0: #151515;
	--color-bg-1: #252525;
	--color-bg-2: #333333;
	--color-text: #fff;

	--color-theme-1: #d4b721;
	
	font-family: var(--font-body);
	color: var(--color-text);
}

body {
	height: 100vh;
	margin: 0;
	background-color: var(--color-bg-0);
}


p {
	line-height: 1.5;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	color: var(--color-theme-1);
	font-size: 2rem;
}

h2 {
	font-size: 1rem;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--color-text);
}

.text-column {
	display: flex;
	max-width: 48rem;
	flex: 0.6;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}

input,
button {
	border: none;
	background-color: var(--color-bg-2);
	color: var(--color-text);

	font-size: inherit;
	font-family: inherit;
}

button {
	cursor: pointer;
}

button:hover {
	background-color: var(--color-bg-1);;
}


button:focus:not(:focus-visible) {
	outline: none;
}


.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}
