@import '@fontsource/fira-mono';
@import '@fontsource/quicksand/300.css';
@import '@fontsource/quicksand/400.css';



:root {
	--font-body: 'Quicksand', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--color-bg-0: #151515;
	--color-bg-1: #252525;
	--color-bg-2: #333333;
	--color-text: #fff;

	--color-theme-1: #d4b721;
	
	font-family: var(--font-body);
	color: var(--color-text);
}

html {
	height: 100%;
}
body {
	height: 100%;
	margin: 0;
	background-color: var(--color-bg-0);
}


p {
	line-height: 1.5;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	color: var(--color-theme-1);
	font-size: 2rem;
}

h2 {
	font-size: 1rem;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--color-text);
}

.text-column {
	display: flex;
	max-width: 48rem;
	flex: 0.6;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}

input,
button {
	border: none;
	background-color: var(--color-bg-2);
	color: var(--color-text);

	font-size: inherit;
	font-family: inherit;
}

button {
	cursor: pointer;
}

button:hover {
	background-color: var(--color-bg-1);;
}


button:focus:not(:focus-visible) {
	outline: none;
}

select {
	background-color: var(--color-bg-2);
	color: var(--color-text);
	font-family: inherit;
	border: none;

	appearance: none;

	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.8rem center;
    background-size: 1em;
	background-origin:padding-box;
	cursor: pointer;
	padding-right: 2rem;
}


.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to { 
        transform: rotate(360deg);
    }
}
 

 @-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to { 
        -webkit-transform: rotate(360deg);
    }
}

.loading-circle {
	width: 100px;
	height: 100px;
	border:solid 10px var(--color-theme-1);
	border-radius: 50%;
	border-right-color: transparent;
	border-bottom-color: transparent;
	 -webkit-transition: all 0.5s ease-in;
    -webkit-animation-name:             rotate; 
    -webkit-animation-duration:         1.0s; 
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function: linear;
    	
    	 transition: all 0.5s ease-in;
    animation-name:             rotate; 
    animation-duration:         1.0s; 
    animation-iteration-count:  infinite;
    animation-timing-function: linear; 
}